<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CARC Paypal</title>
  <link href="https://www.coastsidearc.org/www.coastsidearc.org/css/Layout.css" media="all" rel="stylesheet">
  <link href="https://www.coastsidearc.org/www.coastsidearc.org/css/index.css" media="all" rel="stylesheet">
  <style>
    label {
      display: inline-block;
      width: 150px;
      text-align: right;
    }

    .button-container {
      width: 330px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cancel-button {
      border: 1px solid transparent;
      border-radius: 0 3px 3px 0;
      position: relative;
      width: 200px;
      height: 60px;
      background-color: cadetblue;
      font-size: large;
      box-sizing: border-box;
      border: none;
      vertical-align: top;
      cursor: pointer;
      overflow: hidden;
      margin: 0;
    }
  </style>

</head>

<body>
  <div style="width: 500px">
    <img class="center" src="https://coastsidearc.org/images/shim.gif" alt="" height="10" width="780" />
    <img class="center" id="logo" src="https://coastsidearc.org/logo/wa6tow-logo.gif" alt="" width="135" height="135" />
    <img class="center" src="https://coastsidearc.org/images/shim.gif" alt="" height="10" />
    <br />
    <img class="banner" src="https://coastsidearc.org/logo/Coastside-Banner.gif" alt="" />
  </div>

  <div style="display: block; margin-left: 50px;">
    <table>
      <!-- <tr>
        <td>Paypal ID(pp_id): </td>
        <td id="tbl-pp_id"></td>
      </tr> -->
      <tr>
        <td>Callsigns: </td>
        <td id="tbl-callsigns"></td>
      </tr>
      <tr>
        <td>Primary Dues:</td>
        <td id="tbl-primary-dues" style="text-align:right"></td>
      </tr>
      <tr>
        <td>Associate Dues: </td>
        <td id="tbl-associate-dues" style="text-align:right"></td>
      </tr>
      <tr>
        <td>Repeater Donation: </td>
        <td id="tbl-repeater-donation" style="text-align:right"></td>
      </tr>
      <tr>
        <td>Digipeater Donation: </td>
        <td id="tbl-digipeater-donation" style="text-align:right"></td>
      </tr>
      <tr>
        <td>Optional Fee: </td>
        <td id="tbl-optional-fee" style="text-align:right"></td>
      </tr>
      <tr>
        <td>Amount: </td>
        <td id="tbl-amount" style="text-align:right"></td>
      </tr>
    </table>

    <p>In order to send payments you must have a PayPal Account. Payments will be sent from your PayPal Account to the Coastside Amateur Radio Club PayPal Account.</p>
    
    <div id="paypal-button-container" style="width: 330px;"></div>
    <div class="button-container">
      <button type="button" onClick="cancelPayment()" class="cancel-button">Cancel payment</button>
      <!-- <button type="button" onClick="postPayment()">test Success API (postPayment())</button> -->
    </div>
  </div>

  <!-- <p id="result-message"></p> -->

  <!-- Replace the "test" client-id value with your client-id -->

  <script
  src="https://www.paypal.com/sdk/js?client-id=_|client_id|_&components=buttons&disable-funding=paylater&enable-funding=venmo&intent=capture"
  data-sdk-integration-source="integrationbuilder_sc"></script>
  
  <script>
    var jkl_render = function (template, node) {
      node.innerHTML = template;
    };

    var formData = {
      "primaryDues": "_|P1|_",
      "associateDues": "_|P2|_",
      "repeaterDonation": "_|P3|_",
      "digipeaterDonation": "_|P4|_",
      "optionalFee": "_|P5|_",
      "callsigns": "_|P6|_",
      "pp_total": _|P7|_
      // "callsign": params.get('name')
    };

    // document.querySelector('#tbl-pp_id').innerHTML = '_|pp_id|_';
    document.querySelector('#tbl-callsigns').innerHTML = formData.callsigns;
    document.querySelector('#tbl-primary-dues').innerHTML = formData.primaryDues;
    document.querySelector('#tbl-associate-dues').innerHTML = formData.associateDues;
    document.querySelector('#tbl-repeater-donation').innerHTML = formData.repeaterDonation;
    document.querySelector('#tbl-digipeater-donation').innerHTML = formData.digipeaterDonation;
    document.querySelector('#tbl-optional-fee').innerHTML = formData.optionalFee;

    computeAmount();

    window.paypal
      .Buttons({
        style: {
          shape: 'rect',
          //color:'blue', change the default color of the buttons
          layout: 'vertical', //default value. Can be changed to horizontal
        },
        async createOrder() {
          try {
            const response = await fetch("/api/orders", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              // use the "body" param to optionally pass additional order information
              // like product ids and quantities
              body: JSON.stringify({
                cart: [
                  {
                    id: "Payment",
                    quantity: document.querySelector("#tbl-amount").innerHTML,
                    pp_id: "_|pp_id|_",
                  },
                ],
              }),
            });

            const orderData = await response.json();

            if (orderData.id) {
              return orderData.id;
            } else {
              const errorDetail = orderData?.details?.[0];
              const errorMessage = errorDetail
                ? `${errorDetail.issue} ${errorDetail.description} (${orderData.debug_id})`
                : JSON.stringify(orderData);

              throw new Error(errorMessage);
            }
          } catch (error) {
            console.error(error);
            resultMessage(`Could not initiate PayPal Checkout...<br><br>${error}`);
          }
        },
        async onApprove(data, actions) {
          try {
            const response = await fetch(`/api/orders/${data.orderID}/capture`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
            });

            const orderData = await response.json();
            // Three cases to handle:
            //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
            //   (2) Other non-recoverable errors -> Show a failure message
            //   (3) Successful transaction -> Show confirmation or thank you message

            const errorDetail = orderData?.details?.[0];

            if (errorDetail?.issue === "INSTRUMENT_DECLINED") {
              // (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
              // recoverable state, per https://developer.paypal.com/docs/checkout/standard/customize/handle-funding-failures/
              return actions.restart();
            } else if (errorDetail) {
              // (2) Other non-recoverable errors -> Show a failure message
              throw new Error(`${errorDetail.description} (${orderData.debug_id})`);
            } else if (!orderData.purchase_units) {
              throw new Error(JSON.stringify(orderData));
            } else {
              // (3) Successful transaction -> Show confirmation or thank you message
              // Or go to another URL:  actions.redirect('thank_you.html');
              const transaction =
                orderData?.purchase_units?.[0]?.payments?.captures?.[0] ||
                orderData?.purchase_units?.[0]?.payments?.authorizations?.[0];
              resultMessage(
                `Transaction ${transaction.status}: ${transaction.id}<br><br>See console for all available details`,
              );
              console.log(
                "Capture result",
                orderData,
                JSON.stringify(orderData, null, 2),
              );
              // // ****************** change record in pp_tnx to 'posted'
              // try {
              //   const response = await fetch('/api/success/_|pp_id|_', {
              //     method: "POST",
              //     headers: {
              //       "Content-Type": "application/json",
              //     },
              //   });

              // } catch (e) {

              // };
              // // ******************
              actions.redirect("_|succ_url|_?pp_id=_|pp_id|_&jResp=");
            }
          } catch (error) {
            console.error(error);
            resultMessage(
              `Sorry, your transaction could not be processed...<br><br>${error}`,
            );
            // window.location.href = "https://coastsidearc.org/www.coastsidearc.org/paypalcancel.php";
          }
          // window.location.href = "https://coastsidearc.org/www.coastsidearc.org/paypalcancel.php";
        },
        async onCancel(data) {
          // Show a cancel page, or return to cart
          window.location.href = "_|canc_url|_?pp_id=_|pp_id|_";
          // window.location.href = "http://localhost:8888?" + params.toString();
        }
      })
      .render("#paypal-button-container");

    // Example function to show a result to the user. Your site's UI library can be used instead.
    function resultMessage(message) {
      // const container = document.querySelector("#result-message");
      // container.innerHTML = message;
      console.log(message);
    }

    async function postPayment() {
      try {
                const response = await fetch('/api/success/_|pp_id|_', {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                });
                const test = await response.json();
                console.log(test);
                window.paypal.Buttons.close();
              } catch (e) {
                console.log(e);
              };

    }

    async function cancelPayment() {
      window.location.href = "_|canc_url|_?pp_id=_|pp_id|_";
    }

    function computeAmount() {
      document.getElementById('tbl-amount').innerHTML = 0;
      // document.getElementById('amount').value = 0;
      var amt = formData.pp_total;
      // amt = amt + parseFloat(formData.primaryDues);
      // amt = amt + parseFloat(formData.associateDues);
      // amt = amt + parseFloat(formData.repeaterDonation);
      // amt = amt + parseFloat(formData.digipeaterDonation);
      // amt = amt + parseFloat(formData.optionalFee);

      if (amt > 0) {
        document.getElementById('paypal-button-container').hidden = false
      } else {
        document.getElementById('paypal-button-container').hidden = true
      }

      document.getElementById('tbl-amount').innerHTML = amt.toFixed(2);
      // document.getElementById('amount').value = amt.toFixed(2);
    }
  </script>
</body>

</html>